.events {
  background-image: linear-gradient(to bottom, rgba($secondaryBrown, .5), rgba($mainBrown, .5)), url(../img/cave-xl.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 8rem 0;
}