.home {
  background-image: url(../img/home-xl.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;

  overflow: hidden;
}