.music {
  background-image: linear-gradient(to bottom, rgba($color-white, .8), rgba($mainBrown, .5)), url(../img/field-xl.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 8rem 0;

  overflow: hidden;
}

.album__photo {
  background: url(../img/AlbumCover2.jpg);
  background-size: cover;
  background-position: center;
}