.l {
  grid-area: left;
}

.a {
  grid-area: topleft;
  background: blue;
}

.b {
  grid-area: topright;
  background: green;
}

.c {
  grid-area: bottomleft;
  background: purple;
}

.d {
  grid-area: bottomright;
  background: orange;
}

.container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". . left left left . topleft topright topright ."
    ". . left left left . bottomleft bottomright bottomright .";
}


