.music-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 21rem;
  width: 21rem;
  position: relative;

  &__side {
    height: 21rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);

    &--front {
      background: $color-white;
    }
  
    &--back {
      background: blue;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Lato';
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }

  &__subtitle {
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    color: gray;
  }
}