body {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $mainBrown;
}

.heading {
  @include clearfix;

  text-align: center;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;


  &__primary {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 25rem;
    line-height: 1;
    animation: moveInBottom 1s ease-out;
  }

  &__secondary {
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: .4rem;
    text-transform: uppercase;

    &--animated {
      margin: 2rem 0;
      opacity: 0;
      animation: moveInBottom 1s ease-out;
      animation-delay: .2s;
      animation-fill-mode: forwards;
    }

    &--music {
      font-size: 5rem;
    }

    &--events {
      font-size: 5rem;
      color: $color-white;
      text-shadow: 0 0 10px rgba($color-black, 0.5);
    }
  }
}
