// COLORS
$mainBrown: #747474;
$secondaryBrown: #b9a394;
$lightGray: #e0e0e2;
$darkGray: #c5c5c5;
$teal: #93b7be;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 125rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;