// COLORS
$mainBrown: #747474;
$secondaryBrown: #b9a394;
$lightGray: #e0e0e2;
$darkGray: #c5c5c5;
$teal: #93b7be;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 5rem;